clusterName: ts-main-test
kubeContext: ts-main-test
baseDomain: test.turnerservices.cloud
lbIpRange: "10.0.3.20-10.0.3.39"
letsencryptEmail: letsencrypt@turnerservices.cloud
dnsZone: turnerservices.cloud

cloudflareApiTokenSecret:
  name: cloudflare-api-token
  namespace: platform
  key: api-token

codeServer:
  host: code.test.turnerservices.cloud
  pvcSize: 50Gi
  storageClass: local-path
  # TODO: flip back to ghcr.io/thadigus/turner-services-infrastructure:in-cluster-dev
  # once image-builds.yml has produced its first push.
  image:
    repository: lscr.io/linuxserver/code-server
    tag: latest
  passwordSecret:
    name: code-server-password
    namespace: apps
    key: password

homepage:
  host: home.test.turnerservices.cloud
