controller:
  ingressClassResource:
    name: nginx
    enabled: true
    default: true
  service:
    type: LoadBalancer
    # Cluster (not Local) so traffic reaching the kube-vip leader is DNAT'd
    # to the ingress pod wherever it landed. Loses real client IP.
    externalTrafficPolicy: Cluster
  replicaCount: 1
  config:
    use-forwarded-headers: "true"
    proxy-body-size: "0"
  admissionWebhooks:
    enabled: true
