#############################################
## /roles/linux-base-config/tasks/main.yml ##
#############################################
#
# Role for all Linux base configuration.

---
- name: Set hostname of Ubuntu to ansible_hostname
  hostname:
    name: "{{ ansible_hostname }}"

- name: Ensure Sudo Package is Installed
  package:
    name: sudo
    state: present

- name: Ensure Sudo Group is present
  group:
    name: sudo
    state: present

- name: Create turneradmin user
  user:
    name: turneradmin
    state: present
    generate_ssh_key: no
    ssh_key_bits: 2048
    home: /home/turneradmin
    append: true
    groups: sudo
    shell: /bin/bash

- name: Create .ssh folder for turneradmin account user
  file:
    path: /home/turneradmin/.ssh/
    state: directory
    owner: turneradmin
    group: turneradmin
    mode: '0700'

- name: Deploy Public Key to authorized_keys File
  copy:
    src: turneradmin_id_rsa.pub
    dest: /home/turneradmin/.ssh/authorized_keys
    owner: turneradmin
    group: turneradmin
    mode: '0600'

- name: Grant turneradmin Sudo Permissions
  lineinfile:
    path: /etc/sudoers
    state: present
    line: 'turneradmin ALL=(ALL) ALL'
    validate: 'visudo -cf %s'

- name: Ensure libpam-ssh-agent-auth is installed - Ubuntu
  apt:
    name: libpam-ssh-agent-auth
    state: present
    update_cache: true
  when: ansible_facts['os_family'] == "Ubuntu"

- name: Ensure pam_ssh_agent_auth is installed - RHEL
  yum:
    name: pam_ssh_agent_auth
    state: present
  when: ansible_facts['os_family'] == "RedHat"

- name: Ensure /etc/security exists
  file:
    path: /etc/security
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Fetch GitHub public keys for Thadigus
  uri:
    url: "https://github.com/thadigus.keys"
    return_content: true
    status_code: 200
  register: gh_keys

- name: Install /etc/security/authorized_keys with GitHub keys
  copy:
    dest: /etc/security/authorized_keys
    content: "{{ gh_keys.content }}\n"
    owner: root
    group: root
    mode: "0640"
    backup: true

- name: Install /home/turneradmin/.ssh/authorized_keys with GitHub keys
  blockinfile:
    path: /home/turneradmin/.ssh/authorized_keys
    block: "{{ gh_keys.content }}\n"
    owner: turneradmin
    group: turneradmin
    mode: "0640"

- name: Ensure pam_ssh_agent_auth line exists in /etc/pam.d/sudo (after header)
  lineinfile:
    path: /etc/pam.d/sudo
    insertafter: '^#%PAM-1\.0'
    line: 'auth sufficient pam_ssh_agent_auth.so file=/etc/security/authorized_keys'
    state: present
    backup: true

- name: Ensure sudoers keeps SSH_AUTH_SOCK (validated with visudo)
  lineinfile:
    path: /etc/sudoers
    line: 'Defaults env_keep += SSH_AUTH_SOCK'
    state: present
    create: false
    validate: 'visudo -cf %s'
    backup: true

- name: Remove Root User Password
  user:
    name: root
    password: '!'
    generate_ssh_key: no
    password_lock: true
    state: present

- name: Disable Root Login
  lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: '^PermitRootLogin'
    line: "PermitRootLogin no"
    state: present

- name: Restart SSH
  service:
    name: sshd
    state: restarted
  when: ansible_facts['os_family'] == "RedHat"

- name: Restart SSH
  service:
    name: ssh
    state: restarted
  when: ansible_facts['os_family'] == "Ubuntu"
    
- name: Crontab for automatic updates and reboot @ 4 AM
  cron:
    name: "Patch and Reboot"
    minute: "0"
    hour: "4"
    job: "apt update; apt full-upgrade -y; apt autoremove -y; systemctl reboot"
